{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <h3>Filtros</h3>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'analysis:dashboard' eeg_data.id %}" id="filter-form">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="event" class="form-label">Evento</label>
                            <select name="event" id="event" class="form-select">
                                <option value="">Todos</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="id_start_time" class="form-label">Início (HH:MM:SS)</label>
                            {{ filter_form.start_time }} 
                        </div>
                        <div class="mb-3">
                            <label for="id_end_time" class="form-label">Fim (HH:MM:SS)</label>
                            {{ filter_form.end_time }}
                        </div>
                        <button type="submit" class="btn btn-primary">Aplicar Filtro</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    <h3>Dashboard de Análise EEG - {{ eeg_data.name|default:"Sem Nome" }}</h3>
                </div>
                <div class="card-body">
                    <div class="row g-4">
                        <div class="col-xl-6">
                            <div class="card h-100">
                                <div class="card-header bg-secondary text-white">
                                    <h5 class="card-title mb-0">
                                        <i class="fas fa-chart-bar me-1"></i>
                                        Distribuição de Potência Relativa por Canal (%)
                                    </h5>
                                </div>
                                <div class="card-body">
                                    <div id="power-plot">{{ power_plot|safe }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="card h-100">
                                <div
                                    class="card-header bg-secondary text-white d-flex justify-content-between"
                                >
                                    <h5 class="card-title mb-0">
                                        <i class="fas fa-map me-1"></i>
                                        Mapa de Atividade Cerebral
                                    </h5>
                                    <div class="dropdown">
                                        <button
                                            class="btn btn-sm btn-secondary dropdown-toggle"
                                            type="button"
                                            id="dropdownMenuButton"
                                            data-bs-toggle="dropdown"
                                            aria-expanded="false"
                                        >
                                            Selecionar Banda
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            {% for banda in bandas %}
                                            <li>
                                                <a
                                                    class="dropdown-item"
                                                    href="{% url 'analysis:update_topomap' %}?eeg_id={{eeg_data.id}}&banda={{banda}}"
                                                >
                                                    {{ banda }}
                                                </a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div id="topomap-container">{{ topomap_plot|safe }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-12">
                             <div class="card h-100">
                                <div class="card-header bg-purple text-white">
                                    <h5 class="card-title mb-0">
                                        <i class="fas fa-wave-square me-1"></i>
                                        Distribuição de Ondas Cerebrais
                                    </h5>
                                </div>
                                <div class="card-body">
                                    <div id="brain-waves-plot">{{ brain_waves_plot|safe }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Busca eventos do backend para preencher o filtro
        fetch("{% url 'analysis:get_events' eeg_data.id %}")
            .then(response => response.json())
            .then(data => {
                const eventSelect = document.getElementById('event');
                
                data.events.forEach(event => {
                    const option = document.createElement('option');
                    option.value = event;
                    option.textContent = event;
                    eventSelect.appendChild(option);
                });
            })
            .catch(error => console.error('Erro ao carregar eventos:', error));
    });
</script>
{% endblock %}